---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import { CONTACTS_INFO_ICON, DISPLAY_CONTACTS_INFO } from "../consts.ts";
import Layout from "../layouts/Layout.astro";

import PamphletImage from "../assets/pamphlet.jpg";

const committeeEmail = "shinkan@stb.tsukuba.ac.jp";
---

<Layout pageName="新歓祭・新歓Webについて">
  <article class="container">
    <hgroup class="title-line">
      <h1>新歓Webについて</h1>
    </hgroup>
    <section>
      <p>本サイトでは、新歓祭や新歓活動を行う大学公認団体についての情報を提供しています。</p>
      <p>団体一覧での並び順については公平性の観点から半日に1回順序をランダムに並び替えています。</p>
      <section>
        <h2>お気に入り機能について</h2>
        <p>
          お気に入りの団体情報は、ウェブブラウザ内に保存されます。どの団体をお気に入りに入れているかなどは他のウェブサイトやアプリケーションと共有されません。
        </p>
        <p>
          また、お気に入りした団体の一覧を確認したり、お気に入りの情報をすべて削除したい場合は、以下のボタンをクリックしてください。
        </p>
        <div class="button-wrapper">
          <a href="/?f=0" class="button" id="faves-view">お気に入りした団体一覧を確認する</a>
          <button class="button" id="faves-delete">お気に入り情報をすべて削除する</button>
        </div>
      </section>
      <section>
        <h2>新歓Web 2026 開発者等一覧</h2>
        <ul>
          <!-- 以下は2025版 各自に2026版に更新してもらう -->
        </ul>
        <li>
          <a href="https://github.com/Ryoga-exe/" target="_blank" rel="noopener">Ryoga-exe</a> (フロントエンド主担当)
        </li>
        <li><a href="https://x.com/ao_ringo_uni" target="_blank" rel="noopener">🍏</a> (Webデザイン主担当)</li>
        <li>
          <a href="https://github.com/raspi0124" target="_blank" rel="noopener">raspi0124</a> (バックエンド等実装・各種事務)
        </li>
        <li><a href="https://www.eka.earth/" target="_blank" rel="noopener">Ekasilicon</a>(各種事務)</li>
        <li>
          <a href="https://210o.net/" target="_blank" rel="noopener">江波戸憧音</a> (OGP画像・その他広報系デザイン)
        </li>
        <li><a href="https://github.com/N1su1" target="_blank" rel="noopener">にすい</a> (広報系デザイン)</li>
      </section>
    </section>
    <section>
      <h2>ソースコードについて</h2>
      <p>
        本サイトのソースコードはオープンソースとしてGitHub上で公開されています。興味のある方は以下のリンクからご参照ください。<br
        />
        また、バグ報告や機能提案、プルリクエスト等も歓迎しております！<br />
        なお、フォークしての再配布や商用利用等につきましては、リポジトリ内のLICENSEファイルをご参照いただけますと幸いです。
      </p>
      <ul>
        <li>
          <a href="https://github.com/ZDK-UTsukuba/shinkan2026" target="_blank" rel="noopener"
            >ZDK-UTsukuba/shinkan2026 (GitHub)</a
          >
        </li>
      </ul>
        <section>
          <h2>プライバシーポリシー</h2>
          <section>
            <h3>Sentryによる情報収集について</h3>
            <p>
              当サイトでは、品質向上と安定稼働のため、Functional
              Software社のサービスであるSentryを利用しています。これにより、サイト利用中にエラーが発生した場合や通常利用セッションの一部において、個人を特定しない範囲で必要最小限の情報
              （例: 本サイト上における行動ログや、その他各種エラー・ログなど）がFunctional
              Software社のサーバーに送信されます。収集された情報はFunctional
              Software社のプライバシーポリシーに基づき管理されます。利用者はこのサイトを利用することで、Functional
              Software社並びにサイト管理者によるデータの処理について、許可を与えたとみなします。
            </p>
            <p>Sentryのプライバシーポリシーに関しては以下のサイトをご参照ください。</p>
            <ul>
              <li>
                <a href="https://sentry.io/privacy/" target="_blank" rel="noopener noreferrer"
                  >Sentry プライバシーポリシー</a
                >
              </li>
            </ul>
          </section>
          <section>
            <h3>Google Analyticsによる情報収集について</h3>
            <p>
              当サイトでは、利用者のアクセス状況の把握のため、Google社のサービスであるGoogle Analyticsを利用しています。
              これらのGoogle
              Analyticsを通して収集されたデータは、Google社の利用規約・プライバシーポリシーに基づいて管理されており、利用者はこのサイトを利用することで、Google社、並びにサイト管理者によるデータの処理について、許可を与えたとみなします。
              なお、こうしたデータは匿名で収集されており、個人を特定するものではありません。
            </p>
            <p>Google Analyticsの利用規約及びプライバシーポリシーに関しては以下のサイトをご参照ください。</p>
            <ul>
              <li>
                <a href="https://www.google.com/analytics/terms/jp.html" target="_blank" rel="noopener noreferrer"
                  >Google Analytics 利用規約</a
                >
              </li>
              <li>
                <a href="https://policies.google.com/privacy?hl=ja" target="_blank" rel="noopener noreferrer"
                  >Googleプライバシーポリシー</a
                >
              </li>
            </ul>
            <p>
              また、こうしたGoogle Analyticsによる情報収集に関しましては、Google アナリティクス オプトアウト
              アドオンを導入することで拒否することが可能とされています。適時ご活用ください。
            </p>
            <ul>
              <li>
                <a
                  href="https://support.google.com/analytics/answer/181881?hl=ja"
                  target="_blank"
                  rel="noopener noreferrer">Google アナリティクス オプトアウト アドオン</a
                >
              </li>
            </ul>
          </section>
        </section>
        <section class="contacts">
          <h2>各種お問い合わせについて</h2>
          <section>
            <h3>新歓Webについてのお問い合わせ</h3>
            <p>全学学類・専門学群・総合学域群代表者会議 情報処理推進委員会</p>
            <address>
              <dl>
                <div class="info-wrapper">
                  <dt>
                    <Icon name="mdi:email-outline" area-hidden />
                    {DISPLAY_CONTACTS_INFO["email"]}
                  </dt>
                  <dd>
                    <a href="mailto:ipc@zdk.tsukuba.ac.jp" target="_blank" rel="noopener"> ipc@zdk.tsukuba.ac.jp </a>
                  </dd>
                  <dt>
                    <Icon name="mdi:web" area-hidden />
                    公式HP
                  </dt>
                  <dd>
                    <a href="https://www.zdk.tsukuba.ac.jp/" target="_blank" rel="noopener">
                      https://www.zdk.tsukuba.ac.jp/
                    </a>
                  </dd>
                </div>
              </dl>
            </address>
          </section>
          <section>
            <h3>その他、新歓祭・新歓期間等についてのお問い合わせ</h3>
            <p>新入生歓迎委員会へお問い合わせください</p>
            <address>
              <dl>
                <div class="info-wrapper">
                  <dt>
                    <Icon name={CONTACTS_INFO_ICON["email"]} area-hidden />
                    {DISPLAY_CONTACTS_INFO["email"]}
                  </dt>
                  <dd>
                    <a href={`mailto:${committeeEmail}`} target="_blank" rel="noopener">
                      {committeeEmail}
                    </a>
                  </dd>
                  <dt>
                    <Icon name="mdi:web" area-hidden />
                    公式HP
                  </dt>
                  <dd>
                    <a href="https://www.stb.tsukuba.ac.jp/~shinkan/" target="_blank" rel="noopener">
                      https://www.stb.tsukuba.ac.jp/~shinkan/
                    </a>
                  </dd>
                </div>
              </dl>
            </address>
          </section>
        </section>
    </section>
  </article>

  <style>
    .title-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1.5rem;
      margin-block: 1rem;
    }
    .pamphlet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-block: 2rem;
    }
    .pamphlet img {
      display: block;
      max-width: min(300px, 80vw);
      height: auto;
      margin-block-end: 1rem;
    }
    h1 {
      font-size: 2rem;
      font-weight: bold;
    }
    h2 {
      font-size: 1.5rem;
      font-weight: 600;
      padding-block: 0 0.1em;
      border-block-end: 1px solid hsla(210, 18%, 87%, 1);
      border-inline-start: 0.25em solid var(--accent);
      padding-inline-start: 1ch;
      margin-block: 2rem 1rem;
    }
    h3 {
      font-weight: 600;
      font-size: 1.25rem;
      margin-block: 1.75rem 1rem;
    }
    section p {
      margin-block: 0 1rem;
    }
    section a {
      background-color: transparent;
      color: var(--link);
      text-decoration: underline;
      word-break: break-word;
      transition: all 0.2s;
    }
    section a:hover {
      color: var(--link-hover);
    }
    section a.tel {
      color: #666;
    }
    .contacts dl {
      display: grid;
      grid-template-rows: auto auto;
      place-content: center start;
      gap: 0.35rem 1rem;
    }
    .contacts dt {
      display: flex;
      align-items: center;
      gap: 0.3rem;
      grid-column: 1 / 2;
      font-weight: bold;
    }
    .contacts dd {
      grid-column: 2 / 3;
    }
    .contacts dd a {
      background-color: transparent;
      color: var(--link);
      text-decoration: underline;
      word-break: break-word;
      transition: all 0.2s;
    }
    .contacts dd a:hover {
      color: var(--link-hover);
    }
    .contacts .info-wrapper {
      display: contents;
    }
    .contacts [data-icon] {
      width: 1.2em;
      height: 1.2em;
    }
    section .button {
      display: inline-block;
      font-size: 1rem;
      background: var(--accent);
      color: #fff;
      padding: 0.5rem 1rem;
      border-radius: 0.25em;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.2s;
    }
    section .button:hover {
      color: #ccc;
      background: var(--accent-dimmed);
    }
    .button-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      margin-block: 2rem;
    }
    @media screen and (max-width: 670px) {
      .contacts dt {
        grid-column: none;
        padding-block: 0.1rem;
      }
      .contacts dd {
        grid-column: none;
        padding-block: 0.1rem;
      }
      .contacts .info-wrapper {
        display: block;
      }
    }
  </style>

  <script>
    const favesView = document.querySelector("#faves-view")!;
    const favesDelete = document.querySelector("#faves-delete")!;

    if (typeof localStorage !== "undefined") {
      const val = localStorage.getItem("favoriteGroups");
      if (val) {
        favesView.setAttribute("href", `/?f=${val}`);
      }
    }

    favesDelete.addEventListener("click", () => {
      if (window.confirm("お気に入り情報をすべて削除しますか？")) {
        if (typeof localStorage !== "undefined") {
          localStorage.removeItem("favoriteGroups");
          favesView.setAttribute("href", `/?f=0`);
        }
      }
    });
  </script>
</Layout>
